<div class="mb-4">
  <button mat-raised-button (click)="dialog().open()">Open Dialog</button>
</div>

<div>
  <app-dialog>
    <span ngProjectAs="dialog-heading">This is dialog heading</span>

    <p>This is the main content</p>
    <a>There can be multiple elements here</a>

    <app-dialog-auth-actions
      (authAction)="onAuthAction($event)"
      ngProjectAs="dialog-actions"
    >
      @if (confirming()) {
      <span
        ngProjectAs="button-icon"
        class="spinner-border spinner-border-sm"
        aria-hidden="true"
      ></span>
      } @else {
      <svg
        ngProjectAs="button-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
        />
      </svg>

      }
      <span>Confirm</span>
    </app-dialog-auth-actions>
  </app-dialog>
</div>
